@charset "UTF-8";

@import '../../../node_modules/reset-css/_reset';

$primaryColour: #f04d02;
$primaryBackgroundColour: $primaryColour;
$primaryFontSize: 1.6rem;

.hermit-html {
    font-size:62.5%;
    font-family: arial, sans-serif;
    height:100%;
    > body {
        height: 100%;
        > header {
            height: 37px; // ensure height explicitly set for below
        }
        > main {
            height:calc(100% - 37px); // make browser full height apart from Hermit header
        }
    }
}
.hermit-nav {
    background-color: $primaryBackgroundColour;
    overflow:hidden;
    padding:0 2px;
    li {
        float:left;
    }
    a {
        background:#fff;
        border: 0 solid #fff;
        border-radius: 6px 6px 0 0;
        color: inherit;
        display:block;
        font-size:$primaryFontSize;
        margin:3px 2px 0 1px;
        opacity: .8;
        padding: 10px 20px 8px;
        text-decoration: none;
    }
    [aria-selected="true"] {
        opacity: 1;
    }
}
.hermit-tab-container {
    height:100%;
    article {
        height: 100%;
    }
    > div {
        height: 100%;
        > * {
            height:100%;
        }
    }
    [aria-hidden="true"] {
        display:none;
    }
}
.hermit-tab {
    h1 {
        font-weight:bold;
        font-size:2.4rem;
        margin:40px auto 1rem;
        max-width:80rem;
    }
    h2 {
        font-size:2rem;
        font-weight:bold;
        margin:0 auto 1rem;
        max-width:80rem;
    }
    h3 {
        font-size:1.8rem;
        font-weight:bold;
        margin:0 auto 1rem;
        max-width:80rem;
    }
    p {
        font-size:$primaryFontSize;
        line-height:1.5;
        margin: 0 auto 10px;
        max-width:80rem;
    }
    strong {
        font-weight: bold;
    }

    section {
        margin: 20px 0 40px;
    }

    form {
        margin-left:auto;
        margin-right:auto;
        max-width:80rem;
    }
    fieldset {
        margin: 0 0 20px;
    }
    .field {
        overflow:hidden;
        padding:2rem;
        + .field {
            border-top: 1px solid $primaryColour;
        }
    }
    .checkboxField {
        padding-left:40px;
        position: relative;
        input[type="checkbox"] {
            left:0;
            position: absolute;
            top:21px;
        }
    }
    label {
        font-size: $primaryFontSize;
        font-weight:bold;
        line-height:1.5;
        margin: 0 0 1rem;
    }
    input {
        font-size: $primaryFontSize;
    }
    .main-details {
        label {
            float:left;
            margin-top: 0.5rem;
            width:45%;
            + p {
                float:right;
                margin:0;
                width:50%;
            }
        }
        input {
            float:left;
            width:45%;
        }
    }

    button {
        cursor: pointer;
    }
    .button {
        cursor: pointer;
        background-color: $primaryBackgroundColour;
        border:0 solid transparent;
        border-radius: 4px;
        color:#fff;
        font-size: $primaryFontSize;
        padding: 20px 80px;
    }

    .actions {
        text-align: center;
    }

    .pre-configured-tabs {
        background-color: $primaryBackgroundColour;
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: inset 3px 3px 3px rgba(0, 0, 0, .2);
        margin-left:auto;
        margin-right:auto;
        max-width:80rem;
        overflow: hidden;
        li {
            float:left;
            margin: 1rem 1%;
            width: 22%;
        }
        button {
            background: #fff;
            border: 1px solid transparent;
            border-radius: 4px;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
            box-sizing: border-box;
            display:block;
            font-size: $primaryFontSize;
            padding: 84px 10px 10px;
            position:relative;
            width:100%;
            &[data-site="YouTube"] {
                img {
                    top: 23px;
                }
            }
        }
        img {
            left: 50%;
            margin-left:-30px;
            max-height:60px;
            position: absolute;
            top:14px;
            width:60px;
        }
    }
    footer {
        background-color: $primaryBackgroundColour;
        color: #fff;
        padding: 40px 0;
        section {
            margin:0 auto;
            max-width:80rem;
        }
    }
}